<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="/administration">Administration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/administration/acts/add">Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="remove">Remove</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/accounts/logout">Logout</a>
  </li>
</ul>
<center>
<form method="post">
{% csrf_token %}
Act {{acts_form.act_name}}
<br><br>
<input type="submit" value="Update">
</form>
</center>
